.header {
  display: block;
  min-height: 64px;
  padding: 2em 0 1em;
  text-align: center;
  letter-spacing: -0.02em;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline-block;
  padding: 0 10px;
}

.header :global(a) {
  color: var(--accents-3);
  font-weight: 400;
}

.header h1 a {
  /* margin: var(--gap-double) 0 calc(0.5 * var(--gap)) 0; */
  color: var(--accents-1);
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
}

.header :global(a.active) {
  color: #0070f3;
  font-weight: 600;
}

@media (max-width: 600px) {
  .header {
    padding: .5em 0 2em;
  }
}
